* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.box 
{
    background-color: rgb(9, 63, 241);
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 1.5rem;
    margin: 1rem;
}


.container-principal 
{
    display: flex;
    justify-content: center;
    align-items:center;
}